body,
html {
  height: 100%;
  background-color: rgb(224, 231, 254);
}

.bg {
  background-image: url('https://images.alphacoders.com/292/thumb-1920-292381.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(193, 216, 255);
}
.main_Label {
  display: inline-flex;
  color: rgb(124, 193, 94);
  display: inline-flex;
  justify-content: center;
}
